
%text-h1 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -1.5px;
}

%text-body {
  font-size: 1.25rem; // 20px
  letter-spacing: -1px;
}

%text-caption {
  font-size: 0.875rem; // 14px
  letter-spacing: -0.1px;
}

%text-number-tab {
  font-size: 0.75rem; // 12px
  letter-spacing: -1px;
}