
:root {
--ui-accent-primary: #ff6a00;
--ui-accent-primary-dark: #FF3B30;
--ui-accent-border: rgba(255, 106, 0, 0.3);

--ui-text-primary: #05090E;
--ui-text-primary-dark: #040405;


--ui-border: rgba(5, 9, 14, 0.22);
--ui-bg-tag: rgba(120, 120, 128, 0.08);
--ui-mask-light: rgba(4, 4, 5, 0.04);
}